<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
    
    <body>
        <%- include('./partials/nav.ejs') %>


       <div class="cons-main">
        <div class="con1">
            <img class="con1-img" src="/img/z1.jpg">
        </div>

       <div class="cons-right">

        <h2>Connect with Us</h2>

        <p>
            Contact Address: Comrade David Ofoeyeno School, Oputu Lay-out off Port-Harcourt 
            Drive Dsc Township Orhuwhorun, Behind Challenge
            ACademy, Near Warri, Delta STate
            Nigeria

        </p>

        <p>
            <p>Email: <a href="mailto:ofoeyenoautismschool@yahoo.com">ofoeyenoautismschool@yahoo.com</a></p>
            <p><a href="tel:+2348162144476">+234 816 214 4476</a>
            <a href="tel:+2348054707148">+234 805 470 7148</a></p>
        </p>

       </div>

       



        </div>
    </body>
</html>