<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div>
        <%- include('./partials/carousel.ejs') %>
    </div>

    <div class="contact-1st">
        <div>
            <img class="img-con" src="/img/z1.jpg">
        </div>
        <div class="contact-b">
            <h1>Connect With Us</h1>

            <p>
                Contact Address: Comrade David Ofoeyeno School, Oputu Lay-out off Port-Harcourt 
                Drive Dsc Township Orhuwhorun, Behind Challenge
                ACademy, Near Warri, Delta STate
                Nigeria
            </p>

            <p>
                <p>Email: <a href="mailto:ofoeyenoautismschool@yahoo.com">ofoeyenoautismschool@yahoo.com</a></p>
                <p><a href="tel:+2348162144476">+234 816 214 4476</a>
                <a href="tel:+2348054707148">+234 805 470 7148</a></p>
            </p>

        </div>

    </div>
    <%- include('./partials/footer.ejs') %>

    <script>
        function toggleMobileMenu(menu) {
  var isOpen = menu.classList.toggle('open');
  if (!isOpen) {
      closeDropdowns(); // Close dropdowns when menu is closed
  }
}

// Function to toggle dropdown
function toggleDropdown(event) {
  event.stopPropagation(); // Prevent propagation of the click event
  var parentListItem = event.target.parentElement;
  parentListItem.classList.toggle('open');
}

// Function to close all dropdowns
function closeDropdowns() {
  var dropdowns = document.querySelectorAll('.has-dropdown');
  dropdowns.forEach(function(dropdown) {
      dropdown.classList.remove('open');
  });
}

// Close dropdowns when clicking outside of them
document.addEventListener('click', function(event) {
  var dropdowns = document.querySelectorAll('.has-dropdown');
  dropdowns.forEach(function(dropdown) {
      if (!dropdown.contains(event.target)) {
          dropdown.classList.remove('open');
      }
  });
});

// Close dropdowns when the window is resized (for responsiveness)
window.addEventListener('resize', function() {
  closeDropdowns();
});

// Close dropdowns when the mobile menu is closed
document.getElementById('ham-icon').addEventListener('click', function(event) {
  if (!event.currentTarget.classList.contains('open')) {
      closeDropdowns();
  }
});

document.addEventListener('DOMContentLoaded', function() {
    const slides = document.querySelectorAll('.carousel-slide');
    let currentSlide = 0;

    function showSlide(n) {
        slides[currentSlide].classList.remove('active');
        currentSlide = (n + slides.length) % slides.length;
        slides[currentSlide].classList.add('active');
    }

    function autoAdvance() {
        showSlide(currentSlide + 1);
    }

    // Show the initial slide
    showSlide(currentSlide);

    // Auto-advance slides every 3 seconds
    setInterval(autoAdvance, 3000); // Change the interval as needed
});

      </script>
    </body>
</html>